body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
      overflow-x: hidden;

  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #FF9B24;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #D4D1CE;
      font-weight: 400;
      margin-bottom: 30px;
  }
  p{
    color: #CDCDCC;
  }
.intro1,.intro3,.intro5{
      font-size: 30px;
      color: #303030;
      font-weight: bold;
      padding: 10px;
      display: inline-block;
      visibility: hidden;
}
.intro2,.intro4,.intro6{
  visibility: hidden;
}
  #zezo {
      font-size: 95px;
      text-transform: uppercase;
      color: #7AE195;
      font-weight: 900;
      letter-spacing: 20px;
      text-shadow: 0px 10px #252624;

  }
.log-xs{
      color: #303030;
      font-size: 25px;
      margin: 8px;
      visibility: hidden;
}

  .jumbotron {
    background-color:transparent;
      color: #fff;
      margin-bottom: 0px;
      padding: 120px 25px;
      height: 700px;
      font-family: Montserrat, sans-serif;
      height: 800px;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-body {
      background-color: rgba(0, 0, 0, 0.7);
  }
  .txt-color{
    color: white;
    letter-spacing: 3px;
  }
  .logo-small {
      color: #FFD40A;
      font-size: 50px;
  }
  .logo {
      color: #55FF02;
      font-size: 200px;
      opacity: 0.8;
      margin-top: 100px;
      margin-left: 100px;
  }

  .thumbnail img{
    height: 180px;
    width: 180px;
     border-radius: 50%;
  }

  .thumbnail{
    border-color: transparent;
    background-color: transparent;
    margin-top: 80px;
    visibility: hidden;
  }
  .caption a h3 {
   padding-top: 10px;
   padding-bottom: 10px;
   color: #606357;
   font-weight: bold;

   
  }
  .caption a h3:hover{
     background-color: #2E5ACB;
     color: white;
  }

.caption a:link , .caption a:visited ,.caption a:hover{
    text-decoration: none;
    color:black;
    
  }

  .navbar {
      margin-bottom: 0;
      background-color: rgba(65,145,255, 0.95);
       border: 0;
      font-size: 12px !important;
      letter-spacing: 2px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
      font-weight: bold;
  }
  .navbar-nav li a:hover {
      color: red !important;
      background-color: #fff !important;
  }

  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;

  }
  video{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -100;
  }

  .slideanim , #zezo,.logoanim,.tadaanim{visibility:hidden;}
  
  @media screen and (max-width: 768px) {
    .col-sm-4{
      text-align: center;
      margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    .logo{
      margin-left: 0px;
    }
     .intro1,.intro3,.intro5,.log-xs{
      font-size: 20px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }

  }

